<!DOCTYPE html>
{% load static %}
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>アンケート | {% block title %}{% endblock title %}</title>
    <link rel="icon" href="{% static 'img/favicon.png' %}" type="image/png">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
</head>

<body>
    <!-- Navbar -->
    {% include "navbar.html" %}

    <div class="d-flex min-vh-100">
        <!-- サイドバー -->
        <div class="flex-shrink-0 bg-dark" style="width: 280px;">
            {% include "sidebar.html" %}
        </div>

        <!-- メインコンテンツ -->
        <div class="flex-grow-1 overflow-auto bg-light">
            <main class="h-100">
                <div class="container-fluid px-4 py-3">
                    {% block content %}{% endblock content %}
                </div>
            </main>
        </div>
    </div>

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    {% block script %}{% endblock script %}

</body>

</html>
