<nav class="navbar navbar-expand-lg bg-body-secondary" data-bs-theme="dark">
    <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}">タイトル</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="ナビゲーションの切替">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'home' %}">ホーム</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'accounts:update' %}">マイページ</a>
                </li>
            </ul>
            {% if user.is_authenticated %}
            <form method="post" action="{% url 'logout' %}" class="d-inline">
                {% csrf_token %}
                <button type="submit" class="btn btn-outline-danger">ログアウト</button>
            </form>
            {% else %}
            <a href="{% url 'accounts:login' %}" class="btn btn-outline-info me-3">ログイン</a>
            {% endif %}
        </div>
    </div>
</nav>
